
/**Estilos generales**/
html {
    font-size: 16px;
}
body {
justify-items: center;
background-image:url("./images/patitascat.jpg");
text-align: center;
}

/*estilos y grillas login*/
.mainContainer{  
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(248, 108, 248, 0.4);
    margin: 15%;
    border-radius: 10px; 
    /*min-height: 900px;*/ 
}
.title-page{
    color: #FBE3D4;
    border-radius: 15px;
    background-color: rgba(248, 108, 248, 0.8);
    font-style: oblique;
    font-size: 8rem;
    width: 95%;
    margin: 8%;
}
.form-login{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.label-login{
    display: flex;
    flex-direction: column;
}
.input-login{
    border-radius: 15px;
    font-size: 3rem;
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
    margin: 5%;
}
.btn-login{
    background-color: rgba(95, 41, 109, 0.8);
    color:white;
    border-radius: 15px;
    font-size: 3rem;
    font-family:cursive;
    font-weight: 300;
    margin: 5%;
    width: 80%;
}
.btn-login:hover{
    cursor: pointer;
    background-color:#FBE3D4;
    color:black;
}
.containerBtnsEnd{
    display: grid;
    gap:20px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    align-items: center;
    
}
.btn-register{
    border-radius: 10px;
    background-color: rgba(95, 41, 109, 0.8);
    font-size: 3rem;
    font-family:cursive;
    font-weight: 300;
    color:white;
    margin-top: 3%;
    width: 80%;
   
}
.btn-register:hover{
    cursor: pointer;
    background-color:#FBE3D4;
    color:black;
}
.btnGoogle{
    width:80%;
    height:80%;
    margin-top: 1%;
    background-color:#FBE3D4;
    opacity: 0.8;
    border-radius: 10px;
    margin-left: 15%;
    border-style: solid;
}
.btnGoogle:hover{
    cursor: pointer;
    opacity: 1;
}

/**Estilos pagina de registro**/
.container-register{  
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(248, 108, 248, 0.4);
    margin: 15%;
    border-radius: 10px; 
    min-height: 900px;   
}
.title-register{
    color: #FBE3D4;
    border-radius: 15px;
    background-color: rgba(248, 108, 248, 0.8);  
    font-style: oblique;
    font-size: 7rem;
    width: 80%;
    margin: 10%;
    margin-bottom: 3%;
}
.form-register{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-register > input{
    border-radius: 15px;
    font-size: 3rem;
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
    margin: 4%;
}
.btns-register{
    border-radius: 10px;
    background-color: rgba(95, 41, 109, 0.8);
    font-size: 3rem;
    font-family:cursive;
    font-weight: 300;
    color:white;
    margin-top: 3%;
    width: 70%;
}
.btns-register:hover{
    cursor: pointer;
    background-color:#FBE3D4;
    color:black;
}
#btn-return-login{
    font-size: 2rem;
    width: 70%;
    margin-top: 7%;
    margin-bottom: 5%;
    font-style: normal;
}

footer{
    font-size: xx-large;
    bottom: 0;
    width: 100%;
    height: 40px;
}
/** Responsive desktop **/
@media (min-width: 992px) { 
    html{
        font-size: 6px;
    }
    /**Responsividad para login **/
    .mainContainer {
        background-color: rgba(248, 108, 248, 0.4);
        margin: 0% 15%;
    }
    .input-login{
        width: 100%;
        margin: 4%;
    }
    .title-page{
        margin: 5%;
        width: 70%;
    }
    .btnGoogle{
        width:70%;
        height:70%;
    }
    /** Responsividad para register **/
    .container-register{  

        margin: 0% 15%;
    }
    #btn-return-login{
        font-size: 3rem;
        width: 35%;
        margin-top: 5%;
}
   .title-register{
        margin: 5%;
        
}

}
