/**Estilos generales**/
html {
    padding: 0;
    margin: 0;
}

body {
    justify-items: center;
    background-image: url("./images/patitascat.jpg");
    text-align: center;
}

.stylesBtns {
    background-color: rgba(225, 103, 183, 0.8);
    color: white;
    border: none;
    padding: 10px 12px;
    font-size: var(--font-md);
}

.stylesBtns:hover {
    cursor: pointer;
    background-color: #f3b8d7;
    color: black;
}

:root {
    --font-sm: 1rem;
    --font-md: 1.5rem;
    --font-lg: 2rem;
    --font-xl: 3rem;
}

.mt-20 {
    margin-top: 20px;
}

.create-post-form {
    display: flex;
}
/* xxxxxxxx */
/*estilos y grillas login*/
.mainContainer {
    position: relative;
}

.post-input {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: var(--font-sm);
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

.button-post {
    background-color: rgba(225, 103, 183, 0.8);
    color: white;
    border: none;
    padding: 10px 12px;
    font-size: var(--font-sm)
}

#scPost {
    font-size: var(--font-md);
    font-family: Arial, Helvetica, sans-serif;
}

.mainContainer,
.container-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(248, 108, 248, 0.4);
    /*margin: 15%;*/
    border-radius: 10px;
    padding: 20px;
    /*min-height: 900px;*/
}

.title-page,
.title-register {
    display: flex;
    text-align: center;
    color: gray;
    border-radius: 15px;
    font-style: oblique;
    font-size: 14vw;
    -webkit-text-stroke: 2px rgb(106, 106, 106);
    width: 60%;
    margin: 8%;
}

.form-login,
.form-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 12px;
    margin-top: 20px;
}

.form-input {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: var(--font-md);
}

.form-login>button,
.form-register>button {
    width: 100%;
}

.btnGoogle {
    width: 100%;
    margin-top: 15px;

}

.btn-register {
    width: 100%;
    margin-top: 15px;
}

.label-login {
    display: flex;
    flex-direction: column;
    width: 200%;
    height: 450px;
}

.input-login {
    padding: 12px 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;

}


footer {
    font-size: var(--font-sm);
    bottom: 0;
}

/** Responsive desktop **/
@media (min-width: 992px) {

    /**Responsividad para login **/
    .mainContainer,
    .container-register {
        background-color: rgba(248, 108, 248, 0.4);
        margin: 0% 15%;
    }

    .label-login {
        width: 200%;
        align-items: center;
    }

    .title-page {
        font-size: 5vw;
        margin: 5%;
        width: 30%;
    }

    /** Responsividad para register **/
    .title-register {
        font-size: 6vw;
        margin: 5%;
        width: 30%;

    }

    .form-register>input,
    .form-login>input {
        width: 70%;
    }

    .form-register>button,
    .form-login>button {
        width: 70%;
    }

    .btnGoogle {
        width: 70%;
    }

    .btn-register {
        width: 70%;

    }

    /*Responsive para el home*/

}

footer {
    font-size: var(--font-md);
}

/*Edición imagen*/

.userImage {
    border-radius: 50%;
    object-fit: cover;
}

.mainContainer {
    position: relative;
}

.signOutBtn {
    position: absolute;
    top: 20px;
    right: 20px;
}

.signOutIcon {
    width: 20px;
    height: 20px;
    display: block;
    background-repeat: no-repeat;
    background-image: url('./images/logout.svg');
}

.btnDelete,
.btnEdit,
.likeBtn {
    cursor: pointer;
}

.deleteIcon {
    width: 14px;
    height: 14px;
    display: block;
    background-repeat: no-repeat;
    background-image: url('./images/delete-icon.svg');
}

.editIcon {
    width: 14px;
    height: 14px;
    display: block;
    background-repeat: no-repeat;
    background-image: url('./images/edit-icon.svg');
}

.likeIcon {
    width: 16px;
    height: 16px;
    display: block;
    background-repeat: no-repeat;
    background-image: url('./images/likegatuno16.png');
}

.postActions {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.postActionsRight {
    display: flex;
    gap: 10px;
}

.section-post {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 12px;
    background-color: white;
}

#post-wall,
#scWall {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
