
/**Estilos generales**/
html {
    font-size: 16px;
}
body {
justify-items: center;
background-image:url("./images/patitascat.jpg");
text-align: center;
}
.stylesBtns{
    background-color:rgba(225, 103, 183, 0.8);
    color: white;
    font-size: 2rem;
    border: none;
    height: 10%;
}
.stylesBtns:hover{
    cursor: pointer;
    background-color:#f3b8d7;
    color:black;
}
/*estilos y grillas login*/

.mainContainer{  
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(248, 108, 248, 0.4);
    margin: 15%;
    border-radius: 10px; 
    /*min-height: 900px;*/ 
}
.title-page{
    color: gray;
    border-radius: 15px;
    font-style: oblique;
    font-size: 6rem;
    -webkit-text-stroke: 2px rgb(106, 106, 106);
    width: 95%;
    margin: 8%;
}
.form-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
  
}
.form-login > input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.form-login > button{
    width: 100%;
}
.label-login{
    display: flex;
    flex-direction: column;
    width: 200%;
    height: 450px;
}
.input-login{
  padding: 12px 20px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;

}
.btn-login{
    padding: 30px 20px;
    margin: 30px 0px 8px 0px;
    height: 60px;
}


.btn-register{
  padding: 14px 20px;
  margin: 16px 0px 25px 0px;
  
}

.btnGoogle{ 
    padding: 14px 20px;
    margin: 16px 0px 0px 0px; 
}

/**Estilos pagina de registro**/
.container-register{  
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(248, 108, 248, 0.4);
    margin: 15%;
    border-radius: 10px; 
    min-height: 900px;   
}
.title-register{
    color: gray;
    border-radius: 15px;
    font-style: oblique;
    font-size: 6rem;
    -webkit-text-stroke: 2px rgb(106, 106, 106);
    width: 95%;
    margin: 8%;
}
.form-register{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}
.form-register > input{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
    
}
.btns-register{
    padding: 14px 20px;
    margin: 30px 0px 8px 0px;
    width: 100%;
}

#btn-return-login{
    width: 70%;
    margin-top: 7%;
    margin-bottom: 5%;
}

footer{
    font-size: xx-large;
    bottom: 0;
    width: 100%;
    height: 40px;
}
/** Responsive desktop **/
@media (min-width: 992px) { 
    html{
        font-size: 10px;
    }
    /**Responsividad para login **/
    .mainContainer {
        background-color: rgba(248, 108, 248, 0.4);
        margin: 0% 15%;
    }
    .label-login{
        width: 200%;
        align-items: center;
    }
    .input-login{
        width: 100%;
        margin: 4%;
    }
    .btn-login{
        width:100% ;
        font-size: 2rem;
    }
    .title-page{
        margin: 5%;
        width: 70%;
    }
    .btnGoogle{
        width:100%;
        font-size: 2rem;
        
    }
 .btn-register{
    width: 100%;
    font-size: 2rem;
 }

    /** Responsividad para register **/
    .container-register{  
        min-height: 700px;
        min-width: 250px;
        margin: 0% 15%;
    }
    #btn-return-login{
        font-size: 2rem;
        width: 70%;
        margin-top: 5%;
}
   .title-register{
        margin: 5%;
        
}
.btns-register{
    width: 100%;
    font-size: 2rem;
}

}
