
/**Estilos generales**/
body {
min-height: 600px;
justify-items: center;
background-image:url("./images/fondocelcat.jpg");
text-align: center;
}

/*estilos y grillas login*/
.mainContainer{  
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(16, 14, 16, 0.5);
    margin: 15%;
    border-radius: 10px; 
    min-height: 900px;   
}
.title-page{
    color: #FBE3D4;
    border-radius: 15px;
    background-color: rgba(16, 14, 16, 0.5);  
    font-style: oblique;
    font-size: 700%;
    width: 95%;
    margin: 8%;
}
.form-login{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.label-login{
    display: flex;
    flex-direction: column;
}
.input-login{
    border-radius: 15px;
    font-size: 270%;
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
    margin: 5%;
}
.btn-login{
    background-color: rgba(95, 41, 109, 0.8);
    color:white;
    border-radius: 15px;
    font-size: 270%;
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
    margin: 5%;
    width: 80%;
}
.btn-login:hover{
    cursor: pointer;
    background-color:#FBE3D4;
    color:black;
}
.containerBtnsEnd{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    align-items: center;
}
.btn-register{
    border-radius: 10px;
    background-color: rgba(95, 41, 109, 0.8);
    font-size: 240%;
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
    color:white;
    margin-top: 3%;
}
.btn-register:hover{
    cursor: pointer;
    background-color:#FBE3D4;
    color:black;
}
.btnGoogle{
    width:55%;
    height:60%;
    margin-top: 1%;
    margin-left: 10%;
    background-color:#FBE3D4;
    opacity: 0.7;
    border-radius: 10px;
}
.btnGoogle:hover{
    cursor: pointer;
    opacity: 1;
}

/**Estilos pagina de registro**/
.container-register{  
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(16, 14, 16, 0.5);
    margin: 15%;
    border-radius: 10px; 
    min-height: 900px;   
}
.title-register{
    color: #FBE3D4;
    border-radius: 15px;
    background-color: rgba(16, 14, 16, 0.5);  
    font-style: oblique;
    font-size: 600%;
    width: 65%;
    margin: 10%;
    margin-bottom: 3%;
}
.form-register{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-register > input{
    border-radius: 15px;
    font-size: 270%;
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
    margin: 4%;
}
.btns-register{
    background-color: rgba(95, 41, 109, 0.8);
    color:white;
    border-radius: 15px;
    font-size: 500%;
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
    margin: 5%;
    width: 90%;
}
.btns-register:hover{
    cursor: pointer;
    background-color:#FBE3D4;
    color:black;
}
#btn-return-login{
    font-size: 300%;
    width: 90%;
    margin-top: 10%;
    margin-bottom: 2%;
    font-style: normal;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}
